@using AgroPack.Models.Home

@{
    ViewBag.Title = "Panier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var itemCart = (List<Item>)Session["cart"];
    decimal prixTotal = 0.00M;
}
@if (Session["cart"] == null || itemCart.Count==0)
{
    <h1 class="h1 mb-2">Votre panier est vide</h1>
    @Html.ActionLink("Retourner à la liste des produits", "Index")
}
else
{
    <table class="table table-bordered table-hover table-light">

        <thead>
            <tr>
                <th></th>
                <th colspan="2">Nom Produit</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in itemCart)
            {
                <tr>
                    <td><img src="~/Images/Produits/@item.Produit.Image" style="height: 50px" /></td>
                    <td colspan="2">@item.Produit.nom</td>
                    <td>@item.Quantity</td>
                    <td>@item.Produit.prix FCFA</td>
                    @{
                        var prixTotalProduit = item.Quantity * item.Produit.prix;
                        prixTotal += (decimal)prixTotalProduit;
                    }
                    <td>@prixTotalProduit FCFA</td>
                    <td><a href="@Url.Action("RemoveFromCart","Home", new {productId = item.Produit.Id})"><button class="btn btn-danger">Supprimer</button></a></td>

                </tr>
            }
            <tr>
                <td colspan="5"></td>
                <td>@prixTotal FCFA</td>
            </tr>
        </tbody>

    </table>
    @Html.ActionLink("Retourner à la liste des produits", "Index","Home")
}

