@model AgroPack.Produit

@{
    ViewBag.ActiveProduit = "active";
    ViewBag.Title = "Produits";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container">

        @using (Html.BeginForm("ProductAdd", "Compte", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Produit</h4>
                <hr />
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.nom, "Nom", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.quantite, "Quantité", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.quantite, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.quantite, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.prix, "Prix", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.prix, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.prix, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                @{
                    List<SelectListItem> champsData = ViewBag.ChampsList;
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.idChamps, "Nom Champs", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.idChamps, champsData, "---Choisissez---",new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idChamps, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, "Image du produit", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="file" id="file"/>
                        @* @Html.EditorFor(model => model.Image, new {htmlAttributes = new {@class = "form-control"}})*@
                        @Html.ValidationMessageFor(model => model.Image, "", new {@class = "text-danger"})
                    </div>
                </div>
                @{
                    List<SelectListItem> categorieData = ViewBag.CategorieList;
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.categorieId, "Nom Catégorie", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.categorieId, categorieData, "---Choisissez---", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.categorieId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Créer" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Retour à la liste", "Product", "Compte")
        </div>
    </div>
