@model IEnumerable<AgroPack.Produit>

@{
    ViewBag.ActiveProduit = "active";
    ViewBag.Title = "Produits";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a href="~/Compte/ProductAdd" class=" m-0 btn btn-info fa-pull-right"><i class="fas fa-plus"></i> Ajouter une nouvelle produit</a>
        <h6 class="m-0 font-weight-bold text-primary">Détails Produits</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nom</th>
                        <th>Catégorie</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.nom</td>
                        <td>@item.Categorie.Name</td>
                        <td>@item.prix</td>
                        <td>@item.quantite</td>
                        <td>
                            @Html.ActionLink("Modifier", "ProductEdit", new {productId = item.Id}, new{@class="btn btn-outline-primary"}) | 
                            @Html.ActionLink("Supprimer", "ProductDelete", new {productId = item.Id}, new{@class="btn btn-outline-danger"})
                        </td>
       
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>
